# Node.js dependencies
node_modules
package-lock.json

# Environment variables
.env

# Logs
logs
*.log

# IDE files
.vscode
.DS_Store

# Build files
dist

#Controllers
src/controllers/adminController2.js
src/controllers/userController2.js

#Models
src/models/Complaint.js
src/models/Recharge.js